@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@layer colors {
    :root {
        --color-primary: hsl(26, 100%, 55%);
        --color-secondary: hsl(25, 100%, 99%);
        --color-pale-orange: hsl(25, 100%, 59%);

        --color-dark-blue: hsl(220, 13%, 13%);
        --color-dark-grayishblue: hsl(219, 9%, 45%);
        --color-grayishblue: hsl(220, 14%, 75%);
        --color-light-grayishblue: hsl(223, 64%, 88%);
        --color-white: hsl(0, 0%, 100%);
        --color-black: hsl(0, 0%, 0%);
        --color-bg-black: hsla(0, 0%, 0%, .75);

        --color-border: hsl(0 0% 60%);
        --border-card: 1px solid var(--color-border);
        --border-highlight: hsl(0 0% 20%);

        --shadow-light: 0px 4px 4px #00000030;
        --shadow-dark: 0px 12px 12px #00000015;
        --shadow-combine: var(--shadow-light), var(--shadow-dark);
    }
}

@layer fonts {
    :root {
        --font-kumbhsans: "Kumbh Sans", sans-serif;

        --fontsize-50: calc(50 / 16 * 1rem);
        --fontsize-45: calc(45 / 16 * 1rem);
        --fontsize-40: calc(40 / 16 * 1rem);
        --fontsize-36: calc(36 / 16 * 1rem);
        --fontsize-32: calc(32 / 16 * 1rem);
        --fontsize-28: calc(28 / 16 * 1rem);
        --fontsize-24: calc(24 / 16 * 1rem);
        --fontsize-20: calc(20 / 16 * 1rem);
        --fontsize-18: calc(18 / 16 * 1rem);
        --fontsize-16: 1rem;
        --fontsize-14: calc(14 / 16 * 1rem);
    }

    h1 {
        font-size: var(--fontsize-50);
        letter-spacing: -0.75px;
        line-height: 1.4;
    }

    h2 {
        font-size: var(--fontsize-36);
        letter-spacing: -0.55px;
        line-height: 1.6;
    }

    h3 {
        font-size: var(--fontsize-20);
        letter-spacing: -0.07px;
        line-height: 1.3;
    }

    h1,
    h2,
    h3 {
        font-family: var(--font-kumbhsans);
        font-weight: 700;
    }

    p {
        font-family: var(--font-kumbhsans);
        font-size: var(--fontsize-16);
        line-height: 1.6;
    }

    /* ***** Media queries ***** */
    @media screen and (max-width: calc(900/16 * 1rem)) {
        h1 {
            font-size: var(--fontsize-45);
        }

        h2 {
            font-size: var(--fontsize-32);
        }

        h3 {
            font-size: var(--fontsize-20);
        }
    }
}

@layer layout {
    :root {
        --layout-padding: 2rem;
        --layout-breakout: 1.5rem;
        --layout-container: calc(1100/16 * 1rem);
    }

    .layout_wrapper {
        display: grid;
        grid-template-columns:
            [grid-fullbleed-start] minmax(var(--layout-padding), 1fr) [grid-breakout-start] minmax(0, var(--layout-breakout)) [grid-content-start] min(100% - var(--layout-padding) * 2, var(--layout-container)) [grid-content-end] minmax(0, var(--layout-breakout)) [grid-breakout-end] minmax(var(--layout-padding), 1fr) [grid-fullbleed-end];
    }

    .layout_wrapper > *,
    .layout_wrapper .layout_container {
        grid-column: grid-content;
    }

    .layout_wrapper .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_wrapper .layout_fullbleed {
        grid-column: grid-fullbleed;
    }

    .layout_container > :not(.layout_breakout, .layout_fullbleed),
    .layout_fullbleed > :not(.layout_breakout, .layout_fullbleed) {
        grid-column: grid-content;
    }

    .layout_container .layout_breakout {
        grid-column: grid-breakout;
    }

    .layout_container .layout_fullbleed {
        grid-column: grid-fullbleed;
    }
}

@layer global {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 100%;
        min-height: 100vh;

        background-color: var(--color-secondary);
        font-family: var(--font-kumbhsans);
        transition: .5s all ease;
        position: relative;
    }

    a,
    p {
        font-weight: 500;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@layer scrollbar {
    body::-webkit-scrollbar {
        width: 7px;
    }

    body::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-track {
        background: var(--color-grayishblue);
    }

    body::-webkit-scrollbar-thumb:hover,
    body::-webkit-scrollbar-thumb:active {
        background: var(--color-primary);
    }
}

@layer navbar {
    .nav_links a {
        position: relative;
    }

    .nav_links a::before {
        content: '';
        width: 0;
        height: 2px;

        position: absolute;
        bottom: -1.5rem;
        left: 0;

        background: var(--color-primary);
        border-radius: 5px;
        opacity: 0;
        transition: width .4s ease, opacity .4s ease;
    }

    .nav_links a:hover::before {
        width: 100%;
        opacity: 1;
    }

    /* media queries */

    @media screen and (max-width: calc(768/16 *1rem)) {
        .nav_links {
            position: fixed;
            left: 0;
            top: 0;

            width: calc(350/16 * 1rem);
            height: 100vh;
            padding-top: 6rem;

            background: var(--color-white);
            box-shadow: var(--shadow-light);

            flex-direction: column;
            justify-content: flex-start;
            z-index: 99;
            transform: translateX(-120%);
            transition: transform .4s ease-in-out;
        }

        .nav_links div:nth-child(1) {
            flex-direction: column;
            align-items: flex-start;
        }

        .nav_links a {
            color: var(--color-black);
            font-weight: 700;
        }

        .nav_links a::before {
            display: none;
        }

        .nav_links .nav_close {
            position: absolute;
            top: 2rem;
            left: 2rem;
        }

        /* navbar mobile open and close */
        .navbar_section input[type='checkbox']#navbar_check:checked ~ div.nav_links {
            transform: translateX(0);
        }
    }

    @media screen and (max-width: calc(350/16 *1rem)) {
        .nav_links {
            width: 100%;
        }
    }
}

@layer home {
    .home_thumbnails div.thumbnail:hover::before {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--color-light-grayishblue);
        opacity: 0.5;
        transition: opacity .4s ease;
    }
}